<div class="text-center">
    <h3>Espace de discussion</h3>   <br/><br/>

<!--------------------- User------------------------------------>
    {% if app.user and app.user.isVerified == 1 %}
    <div class="row p-2">
        <div class="col-md-2"></div>
        <div class="col-md-8">
            {{ include('partials/_form.html.twig', {'button_label': 'Valider'}) }}
        </div>
    </div>      <br/><br/>
    {% endif %}
<!--------------------- End User------------------------------------>

    {% if comments|length > 0 %}
        {% for comment in comments %}
            <div class="">
                <div class="p-3">
                    <div class="row">
                        <div class="col-3 user-image">
                            <img src="{{ comment.user.profilePicture ? asset('uploads/user/'~comment.user.profilePicture ) : asset('assets/img/user.jpg') }}" alt="" class="rounded-circle mt-1 height-user-picture">
                        </div>
                        <div class= "col-9 position-relative">
                            <h6 class="text-left user-name"> {{ comment.user.fullname }}
                                a écrit le {{ comment.createDate|date(('d/m/Y à H:i')) }}</h6>
                        </div>
                    </div>
                    <div class="font-size-comment">
                        <p> {{ comment.content|raw }} </p>
                    </div>
                </div>

            </div>
        {% endfor %}
        {% block paging %}
            {{ include('partials/_paging.html.twig') }}
        {% endblock paging %}
    {% endif %}
</div>