
<!--**************MODAL  ******************!-->
<div class="modal fade" id="medias" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
    <div class="modal-dialog" role="document">
        <div class="modal-content ">
            <div class="modal-header">
                <h5 class="modal-title" id="exampleModalLabel">Détails</h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body">
                <div class="modal-title title-detail mb-3">Images : </div>
                <div class="text-center">
                    <div class="main-div-collection row bg-transparent">
                        <!--------------------- User------------------------------------>
                        {% if app.user and app.user.isVerified == 1 %}
                            <div class="col-12 mx-auto mb-5">
                                <a href="{{ path('app_picture_create', {'id':trick.id }) }}">
                                    <img height="125" src=" {{ asset('assets/icon/picture.png') }}" class="mx-auto" alt="Ajouter une image">
                                </a>
                            </div>
                        {% endif %}
                        <!--------------------- End User------------------------------------>
                        {% if trick.pictures|length >0 %}
                            {% for picture in trick.pictures %}
                                <div class="col-12 mb-5">
                                    <div class="modal-media embed-responsive mb-1">
                                        <a href="{{ asset('uploads/pictures/'~picture.path ) }}">
                                            <img width="100%" height="150" class="text-center" src=" {{ asset('uploads/pictures/'~picture.path ) }}" alt=""/>
                                        </a>
                                    </div>
                                    <div class="">
                                        <!--------------------- User------------------------------------>
                                        {% if app.user and app.user.isVerified == 1 %}
                                            <span class="mt-2">
                                             <a href="{{ path('app_picture_edit', {'id':picture.id }) }}">
                                                <img src="{{ asset('assets/icon/edit.png') }}" alt="" class="width-edit-icon"/>
                                             </a>
                                            {{ include('partials/delete/_delete_picture_form.html.twig') }}
                                        </span>
                                        {% endif %}
                                        <!--------------------- End User------------------------------------>
                                    </div>
                                </div>
                            {% endfor %}
                        {% endif %}
                    </div>
                </div>
                <div class="modal-title title-detail mb-3">Videos: </div>
                <div class="text-center">
                    <div class="row main-div-collection">
                        <!--------------------- User------------------------------------>
                        {% if app.user and app.user.isVerified == 1 %}
                            <div class="col-12 mx-auto mb-5">
                                <a href="{{ path('app_video_create', {'id':trick.id }) }}">
                                    <img height="125" src="{{ asset('assets/icon/video.png') }}" alt="Ajouter une video">
                                </a>
                            </div>
                        {% endif %}
                        <!--------------------- End User------------------------------------>
                        {% if trick.videos|length >0 %}
                            {% for video in trick.videos %}
                                <div class="col-12 mx-auto mb-5">
                                    <div class="modal-media embed-responsive" >
                                        <a href="{{ video.path }}">
                                            <iframe width="100%" height="150" src="{{ video.path }}">Video
                                            </iframe>
                                        </a>
                                    </div>
                                    <div class="">
                                        <!--------------------- User------------------------------------>
                                        {% if app.user and app.user.isVerified == 1 %}
                                            <span class="">
                                        <a href="{{ path('app_video_edit', {'id':video.id }) }}">
                                            <img src="{{ asset('assets/icon/edit.png') }}" alt="" class="width-edit-icon"/>
                                        </a>
                                        {{ include('partials/delete/_delete_video_form.html.twig') }}
                                    </span>
                                        {% endif %}
                                        <!--------------------- End User------------------------------------>
                                    </div>
                                </div>
                            {% endfor %}
                        {% endif %}
                    </div>

                </div>
                <div class="modal-footer">
                    {# <button type="button" class="btn btn-info" onclick = "$('.modal').hide()">Close</button> #}
                    <button type="button" class="bouton-modal" data-dismiss="modal">Close</button>
                </div>
            </div>
        </div>
    </div>
</div>