<!-- Navigation-->
<nav class="navbar navbar-expand-lg navbar-light" id="mainNav">
    <div class="container px-4 px-lg-5">
        <a class="navbar-brand" href="{{ path('app_trick_index') }}">SnowTricks</a>
        <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarResponsive" aria-controls="navbarResponsive" aria-expanded="false" aria-label="Toggle navigation">
            Menu
            <i class="fas fa-bars"></i>
        </button>
        <div class="collapse navbar-collapse" id="navbarResponsive">
            <ul class="navbar-nav ms-auto py-4 py-lg-0">

        <!--------------------- User------------------------------------>
                {% if app.user and app.user.isVerified == 1 %}
                    <li class="nav-item"><a class="nav-link px-lg-3 py-3 py-lg-4" href="{{ path('app_trick_index') }}"> Home </a></li>
                    <li class="nav-item"><a class="nav-link px-lg-3 py-3 py-lg-4" href="{{ path('app_trick_create') }}"> Ajouter </a></li>
                    <li class="nav-item"><a class="nav-link px-lg-3 py-3 py-lg-4" href="{{ path('schtroumpf') }}"> Profil </a></li>
                    <li class="nav-item"><a class="nav-link px-lg-3 py-3 py-lg-4" href="{{ path('app_logout') }}">Deconnection</a></li>
                {% else %}
                    <li class="nav-item"><a class="nav-link px-lg-3 py-3 py-lg-4" href="{{ path('app_trick_index') }}"> Home </a></li>
                    <li class="nav-item"><a class="nav-link px-lg-3 py-3 py-lg-4" href="{{ path('app_trick_index') }}#tricks">Figures</a></li>
                    <li class="nav-item"><a class="nav-link px-lg-3 py-3 py-lg-4" href="{{ path('app_login') }}">Connection</a></li>
                    <li class="nav-item"><a class="nav-link px-lg-3 py-3 py-lg-4" href="{{ path('app_register') }}">Creer un compte</a></li>
                {% endif %}
        <!--------------------- End User------------------------------------>

            </ul>
        </div>
    </div>
</nav>
                {#
                        <a class="nav-link" aria-current="page" href=" {{ path('app_trick_create') }}">New Pin</a>
                        <a class="nav-link" href="{{ path('app_account') }}">Account</a>
                        <a class="nav-link" href="#" onclick="event.preventDefault();document.getElementById('js-logout-form').submit();">Logout</a>
                    <form id="js-logout-form" method="post" action="{{ path('app_logout') }}" style="display:none;">
                        <input type="hidden" value="{{ csrf_token('logout') }}" name="_csrf_token">
                    </form>
                        <a class="nav-link" href=" {{ path('app_login') }}">Login</a>
                        <a class="nav-link" href="{{ path('app_register') }}" >Register</a>
                 #}
