<!DOCTYPE html>
<html lang="{{ app.request.locale }}">
    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no" />
        <title>{% block title %} SnowTrick {% endblock %}</title>
        <link rel="icon" type="image/x-icon" href="{{ asset('assets/favicon.ico') }}" />
        <!-- Google fonts-->
        <link href="https://fonts.googleapis.com/css?family=Lora:400,700,400italic,700italic" rel="stylesheet" type="text/css" />
        <link href="https://fonts.googleapis.com/css?family=Open+Sans:300italic,400italic,600italic,700italic,800italic,400,300,600,700,800" rel="stylesheet" type="text/css" />
        {% block stylesheets %}
            {{ encore_entry_link_tags('app') }}
        {% endblock %}
        {% block javascripts %}
            {{ encore_entry_script_tags('app') }}
        {% endblock %}
    </head>
    <body>
    <!-- Back to top button -->
    <a id="buttonToTheTop">
        <img height="80px" src="{{ asset('assets/icon/arrow3.png') }}" alt="">
    </a>

    {{ include('partials/_nav.html.twig') }}

    <main role="main">
        {% block body %}{% endblock %}
    </main>


    <!-- Divider-->
        <div class="divider"><span></span><span>
          Suivez-nous
        </span><span></span></div>

    {{ include('partials/_footer.html.twig') }}

    {% if app.request.attributes.get('_route') is same as 'app_trick_show' %}
        {{ include('partials/_modal_media.html.twig') }}
    {% endif %}

    {# La suppression de ces fichiers entraine le non-fonctionnement du modal #}
        <script type ="text/javascript" src="../js/jquery.js"></script>
        <script type ="text/javascript" src="../js/bootstrap.min.js"></script>
    {# La suppression de ces fichiers entraine le non-fonctionnement du modal #}

    </body>
</html>
