{% extends 'layouts/base.html.twig' %}

{% block title 'SnowTricks | Index' %}

{% block body %}
    <!-- Page Header-->
    <header class="masthead height-of-masthead-index" style="background-image: url('assets/img/home2-bg.jpg');">
        <div class="container position-relative px-4 px-lg-5">
            <div class="row gx-4 gx-lg-5 justify-content-center">
                <div class="col-md-10 col-lg-8 col-xl-7">
                    <div class="site-heading mt-5">
                        <h1 class="">SnowTricks</h1>
                        <span class="subheading"><strong>La référence des figures de Snow</strong></span>
                    </div>
                </div>
            </div>
        </div>
        <!-- Arrow down-->
        <div class="centerarrow">
            <a href="{{ path('app_trick_index') }}#tricks">
                <div class="roundarrow">
                    <span id="span1"></span>
                    <span id="span2"></span>
                    <span id="span3"></span>
                    <span id="span4"></span>
                </div>
            </a>
        </div>
    </header>
    <div class="container">
        {% if tricks|length > 0 %}
            <h1 id="tricks" class="text-center"> Voir les {{ all_tricks|length }} figures du site </h1>
            {{ include('partials/_flash_messages.html.twig') }}
            <!-- Divider-->
            <hr class="my-4" />
            {% for row in tricks|batch(4) %}
                <div class="row mb-5 justify-content-around">
                    {% for trick in row %}
                        <div class="col-md-6 col-xxl-3">
                            <article class="mb-5 bg-white rounded shadow dimention-of-article-index mx-auto">
                                <div class="trickimg mw-100 rounded-top overflow-hidden">
                                    <a href="{{ path('app_trick_show', {'slug':trick.slug,'page':1}) }}">
                                        <img src="{{ trick.mainPicture ? asset('uploads/main/'~trick.mainPicture) : asset('assets/img/trick.jpg') }}" alt="{{ trick.name }}" width="320px;" height="250px;">
                                    </a>
                                </div>
                                <h2 class="h5 pl-5 pt-3 padding-left-index" > <a href="{{ path('app_trick_show', {'slug':trick.slug,'page':1}) }}" class="text-secondary text-muted text-decoration-none"> {{ trick.name }} </a> </h2>
                                <div class="pl-5 pb-3 text-muted padding-left-index">
                                    <small>Difficulté {% for i in 1..trick.level  %}
                                            <span class="star-size-small">★</span>
                                        {% endfor %}</small>
                    <!--------------------- User------------------------------------>
                                    {% if app.user and app.user.isVerified == 1 %}
                                    <span class="m-2 icon-on-the-bottom" >
                                         <a href="{{ path('app_trick_edit', {'slug': trick.slug}) }}">
                                             <img src="{{ asset('assets/icon/edit.png') }}" alt="" class="width-edit-icon"/>
                                         </a>
                                            {{ include('partials/delete/_delete_form.html.twig') }}
                                    </span>
                                    {% endif %}
                    <!---------------------End User------------------------------------>
                                </div>
                            </article>
                        </div>
                    {% endfor %}
                </div>
                <!-- Divider-->
                <hr class="my-4" />
                <br/><br/>
            {% endfor %}


                <!-- Pager-->
            {# Essai de JS ici : creation de la classe 'reloadData' #}
            {% if isIndex %}
        <div class="reloadData d-flex justify-content-center mb-4"><a class="btn btn-primary text-uppercase" href="{{ path('app_all_tricks') }}#tricks">Voir toutes les figures ↓</a>
{#        <div class="reloadData d-flex justify-content-center mb-4">
                    <button class="btn btn-primary text-uppercase">Voir toutes les figures ↓</button>
                </div>  #}
            {% else %}
                <div class="reloadData d-flex justify-content-center mb-4"><a class="btn btn-primary text-uppercase" href="{{ path('app_trick_index') }}">Voir moins ↑</a>
                </div>
            {% endif %}


                <!-- No tricks -->
        {% else %}
            <p class="h2 mt-5 text-center"> Il n'y a pas encore de figures ! <br/>
                {% if app.user and app.user.isVerified == 1 %}
                    <a href="{{ path('app_trick_create') }}"> Soit le premier à créer une figure !</a>
                {% else %}
                    <a href="{{ path('app_login') }}"> Connecte toi et soit le premier à créer une figure !</a>
                {% endif %}
            </p>
        {% endif %}
    </div>
{% endblock %}

