{% extends 'base.html.twig' %}

{% block title 'SnowTricks index' %}

{% block body %}
    <!-- Page Header-->
    <header class="masthead" style="background-image: url('assets/img/home2-bg.jpg');
                                     height: 722px; ">
        <div class="container position-relative px-4 px-lg-5">
            <div class="row gx-4 gx-lg-5 justify-content-center">
                <div class="col-md-10 col-lg-8 col-xl-7">
                    <div class="site-heading mt-5">
                        <h1>SnowTricks</h1>
                        <span class="subheading"><strong>La référence des figures de Snow</strong></span>
                    </div>
                </div>
            </div>
        </div>
        <!-- Arrow down-->
        <div class="centerarrow">
            <a href="{{ path('app_trick_index') }}#tricks">
                <div class="roundarrow">
                    <span id="span1"></span>
                    <span id="span2"></span>
                    <span id="span3"></span>
                    <span id="span4"></span>
                </div>
            </a>
        </div>
    </header>
    <div class="container">
        {% if tricks|length > 0 %}
            <h1 id="tricks" class="text-center"> Voir les {{ all_tricks|length }} figures du site </h1>
            <!-- Divider-->
            <hr class="my-4" />
            {% for row in tricks|batch(4) %}
                <div class="row mb-5 justify-content-around">
                    {% for trick in row %}
                        <div class="col-sm-6 col-lg-3">
                            <article class="bg-white rounded shadow" style="height:350px; position: relative">
                                <div class="mw-100 rounded-top overflow-hidden">
                                    <a href="{{ path('app_trick_show', {'id':trick.id,'page':1}) }}">
                                        <img src="{{ trick.mainPicture ? asset('uploads/main/'~trick.mainPicture) : asset('assets/img/trick.jpg') }}" alt="{{ trick.name }}" class="w-100">
                                    </a>
                                </div>
                                <h2 class="h5 pl-5 pt-3" style="padding-left:25px;"> <a href="{{ path('app_trick_show', {'id':trick.id,'page':1}) }}" class="text-secondary text-muted text-decoration-none"> {{ trick.name }} </a> </h2>
                                <div class="pl-5 pb-3 text-muted" style="padding-left:25px;">
                                    <small>Difficulté {% for i in 1..trick.level  %}
                                            <span style="font-size: 1.1em;">★</span>
                                        {% endfor %}</small>
                                    <span class="m-2" style="position: absolute; bottom : 2%; right: 2%;">
                                         <a href="{{ path('app_trick_edit', {'id': trick.id}) }}"><img src="{{ asset('assets/icon/edit.png') }}" alt="" style="width:25px;"/></a>
                                            {{ include('partials/delete/_delete_form.html.twig') }}
                                    </span>
                                </div>
                            </article>
                        </div>
                    {% endfor %}
                </div>
                <!-- Divider-->
                <hr class="my-4" />
                <br/><br/>
            {% endfor %}
                <!-- Pager-->
            {% if isIndex %}
                <div class="d-flex justify-content-center mb-4"><a class="btn btn-primary text-uppercase" href="{{ path('app_all_tricks') }}#tricks">Voir toutes les figures ↓</a>
                </div>
            {% else %}
                <div class="d-flex justify-content-center mb-4"><a class="btn btn-primary text-uppercase" href="{{ path('app_trick_index') }}">Voir moins ↑</a>
                </div>
            {% endif %}
        {% else %}
            <p class="h2 mt-5 text-center"> No Trick yet <a href="{{ path('app_trick_create') }}"> Soit le premier à créer une figure !</a> </p>
        {% endif %}
    </div>
    <!-- Back to top button -->
    <div id="buttonToTheTop">
        <a id="buttonToTheTop2" href="{{ path('app_trick_index') }}">
            <img id="buttonToTheTop2" height="80px" src="{{ asset('assets/icon/arrow3.png') }}" alt="">
        </a>
    </div>
{% endblock %}

