{% extends 'layouts/base.html.twig' %}

{% block title 'SnowTricks | Index' %}

{% block body %}
    <!-- Page Header-->
    <header class="masthead height-of-masthead-index" style="background-image: url('assets/img/home2-bg.jpg');">
        <div class="container position-relative px-4 px-lg-5">
            <div class="row gx-4 gx-lg-5 justify-content-center">
                <div class="col-md-10 col-lg-8 col-xl-7">
                    <div class="site-heading mt-5">
                        <h1 class="">SnowTricks</h1>
                        <span class="subheading"><strong>La référence des figures de Snow</strong></span>
                    </div>
                </div>
            </div>
        </div>
        <!-- Arrow down-->
        <div class="centerarrow">
            <a href="{{ path('app_trick_index') }}#tricks">
                <div class="roundarrow">
                    <span id="span1"></span>
                    <span id="span2"></span>
                    <span id="span3"></span>
                    <span id="span4"></span>
                </div>
            </a>
        </div>
    </header>
    <div class="container">
        <h1 id="tricks" class="text-center"> Voir les figures les plus recentes </h1>
        {{ include('partials/_flash_messages.html.twig') }}
        <!-- Divider-->
        <hr class="my-4"/>

        {% if tricks|length > 0 %}
            <div id="content-tricks">
                {{ include('partials/index/_list.html.twig') }}
            </div>

             <!-- Pager-->
            {% if isIndex %}
                <div id="load-data" class="d-flex justify-content-center mb-4" data-page-count="{{ pageCount }}">

                    <button id="load-data-backward" class="btn btn-light text-uppercase rounded m-5 text-muted pe-none" onclick="loadDataBackward()" >
                        Page précedente
                    </button>

{#                    {% if tricks|length is same as 12  %}#}
                    <button id="load-data-forward" class="btn btn-primary text-uppercase rounded m-5" onclick="loadDataForward()">
                        Page suivante
                    </button>
{#                    {% endif %}#}
                </div>
            {#
                <script>
                    async function getData(page) {
                        let res = await fetch('/reload_tricks/'+ page)
                            .then(async (response) => {
                                if (!response.ok) {
                                    console.log('erreur');
                                }
                                return response.text().then((data) => {
                                    return data;
                                });
                            })
                        return res;
                    }
                    let page = 1;
                    async function loadDataForward(){

                        page ++;
                        const displayElement = document.getElementById("content-tricks");
                        displayElement.innerHTML = await getData(page);
                        window.location.hash = "#tricks";
                        location.hash = "recharge";
                    }
                    async function loadDataBackward(){
                        page --;
                        const displayElement = document.getElementById("content-tricks");
                        displayElement.innerHTML = await getData(page);
                        window.location.hash = "#tricks";
                        location.hash = "recharge";
                    }
                </script>
            #}

                <div class="reloadData d-flex justify-content-center my-4">
                    <a class="btn btn-md btn-secondary text-uppercase rounded mt-5" href="{{ path('app_all_tricks') }}#tricks">
                        Voir les toutes les figures ({{ all_tricks|length }}) ↓
                    </a>
                </div>
            <!-- All Tricks-->
            {% else %}
                <div class="reloadData d-flex justify-content-center mb-4">
                    <a class="btn btn-md btn-secondary text-uppercase rounded" href="{{ path('app_trick_index') }}">
                        Voir moins ↑
                    </a>
                </div>
            {% endif %}
        <!-- No tricks -->
        {% else %}
            <p class="h2 mt-5 text-center"> Il n'y a pas encore de figures ! <br/>
                {% if app.user and app.user.isVerified == 1 %}
                    <a href="{{ path('app_trick_create') }}"> Soit le premier à créer une figure !</a>
                {% else %}
                    <a href="{{ path('app_login') }}"> Connecte toi et soit le premier à créer une figure !</a>
                {% endif %}
            </p>
        {% endif %}
    </div>
{% endblock %}

