{% extends 'layouts/main_frame.html.twig' %}

{% block content %}
    <h1 class="text-center pb-5"> {{ trick.name|upper }} </h1>
    <div class="w-100 main-picture-on-show" style="  background-image: url(
                                    {% if trick.mainPicture %}
                                    {{ asset('uploads/main/'~pictureName) }}
                                    {% else %}
                                    {{ asset('assets/img/essai.jpg') }}
                                    {% endif %}
                                                );  ">
        <div>
    <!--------------------- User------------------------------------>
            {% if app.user and app.user.isVerified == 1 %}
                <span class="m-2 icon-on-the-corner">
                        <a href="{{ path('app_trick_edit', {'slug': trick.slug}) }}">
                        <img src="{{ asset('assets/icon/edit.png') }}" alt="" class="width-edit-icon"/></a>
                        {{ include('partials/delete/_delete_form.html.twig') }}
                </span>
            {% endif %}
    <!--------------------- User------------------------------------>
        </div>
    </div>
    <div class="row">
        <div class="col-6 pt-5 text-center">
            <span class="subheading"> GROUPE : <strong>{{ trick.category.name }} </strong></span>
        </div>
        <div class="col-6 pt-5 text-center">
            <span class="subheading"> DIFFICULTE : </span>
                {% for i in 1..trick.level  %}
                    <span class="star-size-medium"> ★</span>
                {% endfor %}
        </div>
    </div>
    {# Display of collection #}
    <div class="row mt-5">
        <div class="col-6">
            {# Display of pictures #}
            <h6 class="text-center mb-4"> IMAGES : </h6>
            <div class="row bg-transparent">
        <!--------------------- User------------------------------------>
                {% if app.user and app.user.isVerified == 1 %}
                    <div class="col-4">
                        <a href="{{ path('app_picture_create', {'id':trick.id }) }}">
                            <img height="125" src=" {{ asset('assets/icon/picture2.png') }}" alt="Ajouter une image">
                        </a>
                    </div>
                {% endif %}
        <!--------------------- End User------------------------------------>
                {% if trick.pictures|length >0 %}
                    {% for picture in trick.pictures %}
                        <div class="col-4 mb-5">
                            <div class="embed-responsive">
                                <a href="{{ asset('uploads/pictures/'~picture.path ) }}">
                                    <img width="100%" height="125" src=" {{ asset('uploads/pictures/'~picture.path ) }}" alt=""/>
                                </a>
                            </div>
                            <div class="">
                    <!--------------------- User------------------------------------>
                                {% if app.user and app.user.isVerified == 1 %}
                                    <span class="float-right mt-2">
                                         <a href="{{ path('app_picture_edit', {'id':picture.id }) }}">
                                            <img src="{{ asset('assets/icon/edit.png') }}" alt="" class="width-edit-icon"/>
                                         </a>
                                        {{ include('partials/delete/_delete_picture_form.html.twig') }}
                                    </span>
                                {% endif %}
                    <!--------------------- End User------------------------------------>
                            </div>
                        </div>
                    {% endfor %}
                {% endif %}
            </div>
        </div>
        <div class="col-6">
            {# Display of videos #}
            <h6 class="text-center mb-4"> VIDEOS : </h6>
            <div class="row">
        <!--------------------- User------------------------------------>
                {% if app.user and app.user.isVerified == 1 %}
                    <div class="col-4">
                        <a href="{{ path('app_video_create', {'id':trick.id }) }}">
                            <img height="125" src="{{ asset('assets/icon/video.png') }}" alt="Ajouter une video">
                        </a>
                    </div>
                {% endif %}
        <!--------------------- End User------------------------------------>
                {% if trick.videos|length >0 %}
                    {% for video in trick.videos %}
                        <div class="col-4 mb-5">
                            <div class="embed-responsive">
                                <a href="{{ video.path }}">
                                    <iframe width="100%" height="125" src="{{ video.path }}">Video
                                    </iframe>
                                </a>
                            </div>
                            <div class="">
                    <!--------------------- User------------------------------------>
                                {% if app.user and app.user.isVerified == 1 %}
                                <span class="float-right">
                                    <a href="{{ path('app_video_edit', {'id':video.id }) }}">
                                        <img src="{{ asset('assets/icon/edit.png') }}" alt="" class="width-edit-icon"/>
                                    </a>
                                    {{ include('partials/delete/_delete_video_form.html.twig') }}
                                </span>
                                {% endif %}
                    <!--------------------- End User------------------------------------>
                            </div>
                        </div>
                    {% endfor %}
                {% endif %}
            </div>
        </div>
    </div>
    <div class="p-5 letter-spacing">{{ trick.description }}</div>
    <div>
        <small class="letter-spacing">
            <strong class="text-muted" >
                Créé le {{ trick.createDate ? trick.createDate|date('d-m-Y') : '' }} par {{ trick.user.fullname }} <br/>
                {{ trick.lastUpdate and  trick.createDate|date('d-m-Y') != trick.lastUpdate|date('d-m-Y')? ' Dernière modification le ' ~trick.lastUpdate|date('d-m-Y') : '' }}
            </strong>
        </small>
    </div>
    <br/><br/><br/><br/>
    {{ include('partials/_display_comments.html.twig') }}
{% endblock %}


