{% extends 'base.html.twig' %}

{% block title 'Show Trick' %}

{% block body %}
    <header class="masthead" style="background-image: url('../assets/img/snow2.jpg') ;
                                                         max-height: 100px;
                                                         z-index: 1;">
        <div class="container position-relative px-4 px-lg-5">
            <div class="row gx-4 gx-lg-5 justify-content-center">
                <div class="col-md-10 col-lg-8 col-xl-7">
                    <div class="site-heading mt-1">
                    </div>
                </div>
            </div>
        </div>
    </header>

    <div class="row">
        <div class="blockcenter">
            <div class="blockcenter bgcenter col-lg-8 col-md-10 mx-auto p-5">
                <h1 class="text-center pb-5"> {{ trick.name|upper }} </h1>
                <div class="w-100" style="

                                background-image: url(
                        {% if trick.mainPicture %}
                        {{ asset('uploads/'~pictureName) }}
                        {% else %}
                        {{ asset('assets/img/essai.jpg') }}
                        {% endif %}
                                    );
                                height: 550px;
                                background-size: cover;
                                background-position-x: center;
                                background-position-y: center;
                                background-repeat: no-repeat;
                                position: relative;
                                        ">
                    <div>
                        <span class="m-2" style="position: absolute;
                                              top : 0;
                                              right: 0;
                                                    ">
                                <a href="{{ path('app_trick_edit', {'id': trick.id}) }}">
                                <img src="{{ asset('assets/icon/edit.png') }}" alt="" style="width:25px;"/></a>
                                {{ include('partials/delete/_delete_form.html.twig') }}
                        </span>
                    </div>
                </div>
                <div class="row">
                    <div class="col-6 pt-5 text-center">
                        <span class="subheading"> GROUPE : <strong>{{ trick.category.name }} </strong></span>
                    </div>
                    <div class="col-6 pt-5 text-center">
                        <span class="subheading"> DIFFICULTE : </span>
                            {% for i in 1..trick.level  %}
                            	<span style="font-size: 1.2em;"> ★</span>
                            {% endfor %}
                    </div>
                </div>
                {# Display of collection #}
                <div class="row mt-5">
                    <div class="col-6">
                        {# Display of pictures #}
                        <div class="row" style="background-color: transparent;">
                            {% if trick.pictures|length >0 %}
                                {% for picture in trick.pictures %}
                                    <div class="col-4 mb-5">
                                        <div class="embed-responsive">
                                            <a href="{{ asset('uploads/pictures/'~picture.path ) }}">
                                                <img width="100%" height="125" src=" {{ asset('uploads/pictures/'~picture.path ) }}" alt=""/>
                                            </a>
                                        </div>
                                        <div class="">
                                            <span style="float:right; margin-top: 10px;">
                                                 <a href="{{ path('app_picture_edit', {'id':picture.id }) }}">
                                                    <img src="{{ asset('assets/icon/edit.png') }}" alt="" style="width:25px;"/>
                                                 </a>
                                                {{ include('partials/delete/_delete_picture_form.html.twig') }}
                                            </span>
                                        </div>
                                    </div>
                                {% endfor %}
                            {% endif %}
                            <div class="col-4">
                                <a href="{{ path('app_picture_create', {'id':trick.id }) }}">
                                    <img height="125" src=" {{ asset('assets/icon/picture2.png') }}" alt="Ajouter une image">
                                </a>
                            </div>
                        </div>
                    </div>
                    <div class="col-6">
                        {# Display of videos #}
                        <div class="row">
                            {% if trick.videos|length >0 %}
                                {% for video in trick.videos %}
                                    <div class="col-4 mb-5">
                                        <div class="embed-responsive">
                                            <a href="{{ video.path }}">
                                                <iframe width="100%" height="125" src="{{ video.path }}">Video
                                                </iframe>
                                            </a>
                                        </div>
                                        <div class="">
                                            <span style="float:right;">
                                                <a href="{{ path('app_video_edit', {'id':video.id }) }}">
                                                    <img src="{{ asset('assets/icon/edit.png') }}" alt="" style="width:25px;"/>
                                                </a>
                                                {{ include('partials/delete/_delete_video_form.html.twig') }}
                                            </span>
                                        </div>
                                    </div>
                                {% endfor %}
                            {% endif %}
                            <div class="col-4">
                                <a href="{{ path('app_video_create', {'id':trick.id }) }}">
                                    <img height="125" src="{{ asset('assets/icon/video.png') }}" alt="Ajouter une video">
                                </a>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="pt-3 pb-3">{{ trick.description }}</div>
                <div>
                    <small>
                        Créé le {{ trick.createDate ? trick.createDate|date('d-m-Y') : '' }}
                        {{ trick.lastUpdate ? ' Et modifié le ' ~trick.lastUpdate|date('d-m-Y') : '' }}
                    </small>
                </div>
                <br/><br/><br/><br/>
                {{ include('partials/_display_comments.html.twig') }}
            </div>
        </div>
    </div>
{% endblock %}


