{% extends 'base.html.twig' %}

{% block title 'Show Trick' %}

{% block body %}
    <header class="masthead" style="background-image: url('../assets/img/snow2.jpg') ;
                                                         max-height: 100px;
                                                         z-index: 1;">
        <div class="container position-relative px-4 px-lg-5">
            <div class="row gx-4 gx-lg-5 justify-content-center">
                <div class="col-md-10 col-lg-8 col-xl-7">
                    <div class="site-heading mt-1">
                    </div>
                </div>
            </div>
        </div>
    </header>

    <div class="row">
        <div class="blockcenter">
            <div class="blockcenter bgcenter col-lg-8 col-md-10 mx-auto p-5" style="">
                <h1> {{ trick.name }} </h1>
                <span class="subheading"><strong> Group : {{ trick.category.name }} </strong></span>
                <div>{{ trick.description }}</div>
                <div>{{ trick.level }}</div>
                <div>{{ trick.mainPicture }}</div>
                <div>{{ trick.createDate ? trick.createDate|date('Y-m-d H:i:s') : '' }}</div>
                <div>{{ trick.lastUpdate ? trick.lastUpdate|date('Y-m-d H:i:s') : '' }}</div>
                <a href="{{ path('app_trick_index') }}">back to list</a>
                <a href="{{ path('app_trick_edit', {'id': trick.id}) }}">edit</a>
                {{ include('partials/_delete_form.html.twig') }}
                <div>
                    {% if comments|length > 0 %}
                        <h4>Espace de discussion</h4>
                        {% for comment in comments %}
                            <div>
                                <h6> [AUTHOR] a écrit a {{ comment.createDate|date() }}</h6>
                                <p> {{ comment.content|raw }} </p>
                            </div>
                        {% endfor %}
                    {% endif %}
                </div>
                {% block paging %}
                    {{ include('partials/_paging.html.twig') }}
                {% endblock paging %}

            </div>
        </div>
    </div>

{% endblock %}


