<div style="display: inline-block;">
    <form method="post" style="display: inline-block;" action="{{ path('app_video_delete', {'id': video.id}) }}" onsubmit="return confirm('Supprimer la video ?');">
        <input type="hidden" name="_token" value="{{ csrf_token('delete' ~ video.id) }}">
        <button style="border: none; background-color: transparent;"> <img src="{{ asset('assets/icon/delete.png') }}" alt="" style="width:25px;"> </button>
    </form>
</div>



{#

<a href="#" class="btn btn-light"
   onclick="event.preventDefault(); confirm('Are you sure ?') && document.getElementById('js-pin-delete-form').submit() ">
    Delete</a>
<form id="js-pin-delete-form" method="post" action="{{ path('app_pins_delete', {id: pin.id}) }}" style="display:none;">
    <input type="text" name="_method" value="DELETE"/>
    <input type="hidden" name="csrf_token" value="{{ csrf_token('pin' ~ pin.id) }}"/>
</form>

#}
